.features {
	margin-top: 70px;
}
.features h1 {
	font-size: 54px;
}
.feature_section h4 {
	font-weight: bold;
}
.features_container {
	border-top: 2px solid #000;
	margin-top: 20px;
	padding-top: 10px;
}
.complete {
    padding-top: 30px;
    padding-bottom: 100px;
}
.feature_section img {
    width: 100%;
    box-shadow: 0 0 8px 3px #fdf7f752 inset;
}
.feature_section {
    padding-bottom: 20px;
}
.row_margin {
	margin-top: 50px;
}
.muted_text {
	color: #6f7680 !important;
}
.muted_text a {
	color: #6f7680;
	text-decoration: underline;
}
.muted_text a:hover {
	color: #ed2f59;
	text-decoration: none;
}
.feature_section hr {
	display: none;
}