

/*FEATURES PAGE*/

.features {
	margin-top: 70px;
}
.features h1 {
	font-size: 54px;
}
.feature_section h4 {
	font-weight: bold;
}
.features_container {
	border-top: 2px solid #000;
	margin-top: 20px;
	padding-top: 10px;
}
.complete {
    padding-top: 30px;
    padding-bottom: 100px;
}
.feature_section img {
    width: 100%;
    border: 2px solid #e2e2e224;
}
.feature_section {
    padding-bottom: 20px;
}
.feature_section hr {
	display: none;
}