/*PARTNERS PAGE*/
.partners {
	margin-top: 70px;
}
.partners h1 {
	font-size: 54px;
	font-family: 'poppins', sans-serif;
}
.partners_container {
	border-top: 2px solid #000;
	margin-top: 20px;
	padding-top: 10px;
}
.partners_p {
	margin-top: 20px;
}
.muted_text {
	color: #6f7680 !important;
}
.muted_text a {
	color: #6f7680;
	text-decoration: underline;
}
.muted_text a:hover {
	color: #ed2f59;
	text-decoration: none;
}