.pricing {
	margin-top: 70px;
}
.pricing h1 {
	font-size: 54px;
}
.pricing_container {
	border-top: 2px solid #000;
	margin-top: 20px;
	padding-top: 10px;
	margin-bottom: 70px;
}
.pricing_signup {
    margin-top: 40px;
    margin-bottom: 20px;
}
.pricing_signup a {
    padding: 12px 30px !important;
    font-size: 13px;
}
.rate_container_line {
	border-color: #000;
	margin-right: -15px;
}
@media (max-width: 768px){
    .rate_container_line {
        margin-right: 0px;
    }
}
.rate_container {
	margin-top: 20px;
	margin-bottom: 50px;
}

/*RATE CALCULATOR*/
.estimate_container {
	border: 1px solid #eee;
    padding: 30px 35px;
    box-shadow: 0 5px 10px #c6c9cc;
}
@media (min-width: 992px) { 
    .estimate_container {
        margin-top: -80px;
    }
}
.rate_container_header {
	font-size: 27px;
	font-weight: 600;
	
}
.pricing .select_form {
    border-radius: 0px;
    height: 40px;
    font-size: 15px;
}
.estimate_container .toggle-button_container {
	margin-bottom: 30px;
}
.estimate_container .toggle-button_container .toggle_button {

}
.estimate_container .toggle-button_container .toggle_button li {
    display: inline-block;
    margin-right: -4px;
}
.estimate_container .toggle-button_container .toggle_button li a {
    border: 1px solid #ed2f59;
    border-right: none;
    color: #333;
    background-color: #fff;
    border-top-left-radius: 33px;
    border-bottom-left-radius: 33px;
    color: #ed2f59;
    transition: .2s;
    font-size: 11px;
    font-family: 'poppins', sans-serif !important;
}
.estimate_container .toggle-button_container .toggle_button li:last-child a {
    border-right: 1px solid #ed2f59;
    border-left-width: 0;
    border-top-right-radius: 33px;
    border-bottom-right-radius: 33px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.estimate_container .toggle-button_container .toggle_button li a:hover,
.estimate_container .toggle-button_container .toggle_button li a:focus{
    background-color: rgba(0,0,0,0.03);
    color: #ed2f59;
    outline: none;
    text-decoration: none;
}
.pill_active {
    background-color: #ed2f59 !important;
    color: #fff !important;
}
#international label {
	color: #ed2f59;
}
/*SLIDER*/
.slide_container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: #ccc;
    margin-bottom: 10px;
    margin-top: 10px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    /*border-radius: 50%;*/
    background: #ed2f59;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #ed2f59;
    cursor: pointer;
}
/*COST*/
.estimate_cost p {
	font-size: 25px;
}









.row_margin {
	margin-top: 50px;
}
.muted_text {
	color: #6f7680 !important;
}
.muted_text a {
	color: #6f7680;
	text-decoration: underline;
}
.muted_text a:hover {
	color: #ed2f59;
	text-decoration: none;
}